@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.main h1, .main h2, .main h3, .nuestros, .packs, .mainPrecios .p, .mainReserva .resgistrate, .domicilio, .mas {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 550;
  color: darkgrey;
  text-align: center;
  margin-top: 55px; }

/* Header*/
.header nav {
  background-color: darkgrey !important;
  padding: 0; }
  .header nav .logo {
    width: 145px;
    margin-left: -22px; }

.header .collapse {
  flex-grow: 0; }

.header .navbar {
  --bs-navbar-color: white;
  font-size: 18px;
  font-weight: 600;
  --bs-navbar-nav-link-padding-x: 40px; }

.header .navbar-nav .nav-link.active {
  color: white;
  font-size: 18px;
  font-weight: 600; }

.header .btn {
  background-color: #23b4c4;
  border-color: #23b4c4;
  font-size: 19px;
  font-weight: 600;
  margin-left: -6px;
  margin-bottom: 13px;
  padding-bottom: 9px; }

.text-center .container {
  display: flex;
  justify-content: center; }
  .text-center .container .mb-4 .fb-ic {
    color: #23b4c4; }
  .text-center .container .mb-4 .twit {
    width: 30px; }
  .text-center .container .mb-4 .face {
    width: 30px; }
  .text-center .container .mb-4 .insta {
    width: 30px; }

.main .servicios {
  color: #127f8b;
  font-size: 30px;
  font-weight: 750;
  background-color: #ffffffa3;
  width: 415px;
  display: inline-flex;
  justify-content: center; }

.main .comodidad {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 0.1em 0.1em 0.2em #262626;
  text-decoration: none; }

.main .corazon {
  color: #127f8b;
  font-size: 30px;
  font-weight: 750;
  background-color: #ffffffa3;
  width: 415px;
  display: inline-flex;
  justify-content: center; }

.main .nuestra {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 0.1em 0.1em 0.2em #262626; }

.main .respeto1 {
  color: #127f8b;
  font-size: 30px;
  font-weight: 750;
  background-color: #ffffffa3;
  width: 379px;
  display: inline-flex;
  justify-content: center; }

.main .valores1 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  text-shadow: 0.1em 0.1em 0.2em #262626; }

.main .carousel-indicators [data-bs-target] {
  background-color: #23b4c4; }

.main .carousel-indicators {
  margin-left: 45%; }

.main .nosotros {
  grid-area: texto;
  text-align: justify;
  color: darkgrey;
  padding: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 15px;
  font-weight: 500;
  margin-top: 28px; }

.main .valores {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  margin-top: 50px; }
  .main .valores .amor {
    width: 250px; }
  .main .valores .paciencia {
    width: 250px; }
  .main .valores .respeto {
    width: 250px; }
  .main .valores .vip {
    width: 250px; }

.main .container1 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr;
  grid-template-areas: "foto1 foto2 foto3 foto5 foto5" "foto1 foto4 foto4 foto6 foto6";
  justify-items: center;
  align-items: center;
  padding: 20px;
  grid-gap: 10px;
  margin-top: 45px; }

.main .container1 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.main .foto1 {
  grid-area: foto1;
  width: 90px; }

.main .foto2 {
  grid-area: foto2;
  width: 90px; }

.main .foto3 {
  grid-area: foto3;
  width: 90px; }

.main .foto4 {
  grid-area: foto4;
  width: 90px; }

.main .foto5 {
  grid-area: foto5;
  width: 90px; }

.main .foto6 {
  grid-area: foto6;
  width: 90px; }

.main h3 {
  margin-bottom: -20px; }

.main .requerimientos {
  grid-area: texto;
  text-align: justify;
  color: darkgrey;
  padding: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin-top: 50px; }

.main .button {
  display: inline-block;
  position: relative; }

.main .button a {
  position: absolute;
  bottom: 98px;
  right: 6px;
  background-color: #23b4c4;
  border-radius: 1.5em;
  color: white;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
  text-decoration: none; }

.main .button a:hover {
  background: darkgrey; }

.main .img-fluid {
  margin-top: 30px;
  margin-bottom: 70px; }

.strong {
  font-weight: 700; }

.em {
  font-weight: 700;
  font-style: normal; }

.container5 img {
  width: 100%;
  height: 100%;
  margin-top: 20px; }

.fotoPerro {
  grid-area: fotoPerro; }

.hold {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "baño" "uñas" "orejas" "corte";
  grid-area: hold;
  justify-items: center;
  align-items: center;
  height: 280px;
  margin-top: 20px; }

.baño {
  grid-area: baño;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600; }

.baño1 {
  width: 70px;
  margin-left: 40px;
  margin-top: -521px; }

.uñas {
  grid-area: uñas;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600; }

.uñas1 {
  width: 70px;
  margin-top: -378px;
  margin-left: -74px; }

.orejas {
  grid-area: orejas;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-left: 33px; }

.orejas1 {
  width: 70px;
  margin-top: -238px;
  margin-left: -74px; }

.corte {
  grid-area: corte;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600; }

.corte1 {
  width: 70px;
  margin-top: -99px;
  margin-left: -75px; }

.packs {
  margin-bottom: 47px; }

.card {
  margin-left: 25%;
  margin-bottom: 20%;
  width: 12rem; }

.card-body {
  text-align: center; }

.strong3 {
  font-weight: 500; }

.em3 {
  font-style: normal; }

.mainPrecios .adaptamos {
  color: darkgrey;
  padding: 13px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  font-size: 15px;
  font-weight: 500;
  margin-top: -4px; }

.mainPrecios .card {
  margin-left: 20%;
  margin-bottom: 20%;
  width: 14rem; }

.mainPrecios .card-body {
  text-align: center; }

.mainPrecios .pequeño {
  grid-area: pequeño;
  font-weight: 700; }

.mainPrecios .mediano {
  grid-area: mediano;
  font-weight: 700; }

.mainPrecios .grande {
  grid-area: grande;
  font-weight: 700; }

.mainPrecios .valorP {
  font-weight: 500;
  margin-top: -18px; }

.mainPrecios .valorM {
  font-weight: 500;
  margin-top: -18px; }

.mainPrecios .valorG {
  margin-bottom: -5px;
  grid-area: valorG;
  font-weight: 500;
  margin-top: -19px; }

.mainPrecios .valor {
  display: flex;
  flex-direction: column; }

.mainPrecios .gatosPrecio {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-align: center;
  color: white;
  margin-top: 40px;
  margin-bottom: 59px;
  background-color: #23b4c4;
  padding: 17px; }

.mainReserva .banner4 {
  width: 100%; }

.mainReserva .animate__animated {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: arial;
  margin-top: 46px;
  margin-bottom: 46px;
  --animate-duration: 3s;
  background-color: #23b4c4;
  padding: 30px;
  margin-left: 40px;
  margin-right: 40px;
  color: white; }

.mainReserva .nombre {
  grid-area: nombre;
  margin-bottom: 15px;
  text-align: center;
  color: darkgrey; }

.mainReserva .telefono {
  grid-area: telefono;
  margin-bottom: 15px;
  text-align: center;
  color: darkgrey; }

.mainReserva .mascota {
  grid-area: mascota;
  margin-bottom: 15px;
  text-align: center;
  color: darkgrey; }

.mainReserva .tamaño {
  grid-area: tamaño;
  margin-bottom: 15px;
  text-align: center;
  color: darkgrey; }

.mainReserva .cumple {
  grid-area: cumple;
  margin-bottom: 15px;
  text-align: center; }

.mainReserva .edad {
  grid-area: edad;
  margin-bottom: 15px;
  text-align: center;
  padding: 3px;
  color: darkgrey; }

.mainReserva .quieres {
  grid-area: quieres;
  margin-bottom: 15px;
  text-align: center; }

.mainReserva .si {
  grid-area: si;
  margin-bottom: 15px; }

.mainReserva .nop {
  grid-area: no;
  margin-bottom: 15px; }

.mainReserva .enviar {
  grid-area: enviar;
  padding: 4px;
  color: black; }

.mainReserva .regalo {
  text-align: center;
  color: darkgrey;
  padding: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: -24px; }

.mainReserva .vids {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 39px;
  grid-gap: 10px;
  margin-top: 45px;
  margin-bottom: 44px; }

.mainReserva .vids video {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.mainReserva .video1 {
  width: 30px; }

.mainReserva .video2 {
  width: 30px; }

.mainReserva .video3 {
  width: 30px; }

.mainReserva .video4 {
  width: 30px; }

.container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "foto" "texto";
  justify-items: center;
  align-items: center;
  margin-top: -50px; }

.container2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.container2 ul {
  list-style-type: none;
  line-height: 10px;
  font-size: 8px;
  margin-right: 10px;
  margin-left: -20px;
  margin-top: 5px; }

.foto {
  grid-area: foto;
  margin-bottom: 72px;
  margin-top: 86px; }

.texto {
  grid-area: texto;
  text-align: justify;
  background-color: #127f8b;
  color: white;
  padding: 10px;
  margin-top: -79px; }

.no {
  color: white;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 10px;
  padding: 17px;
  line-height: 18px;
  background-color: #127f8b; }

.sinModificaciones {
  color: white;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 10px;
  padding: 17px;
  line-height: 18px;
  background-color: #127f8b; }

.mascotaNueva {
  color: white;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15.5px;
  margin-top: 10px;
  padding: 17px;
  line-height: 18px;
  background-color: #127f8b; }

.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas: "uno uno uno uno dos dos siete siete" "tres tres cuatro cuatro seis seis ocho ocho" "tres tres cinco cinco seis seis nueve nueve";
  justify-items: center;
  align-items: center;
  padding: 20px;
  grid-gap: 10px;
  margin-top: 100px;
  margin-bottom: 30px; }

.container3 img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.uno {
  grid-area: uno; }

.dos {
  grid-area: dos; }

.tres {
  grid-area: tres; }

.cuatro {
  grid-area: cuatro; }

.cinco {
  grid-area: cinco; }

.seis {
  grid-area: seis; }

.siete {
  grid-area: siete; }

.ocho {
  grid-area: ocho; }

.nueve {
  grid-area: nueve; }

.mas {
  margin-bottom: -73px; }

.strong1 {
  font-weight: 550; }

.em2 {
  font-style: normal; }

/* Media Query - Mobile first - Dispositivos Medianos */
/*Index*/
@media (min-width: 768px) {
  .w-100 {
    width: 140%; }
  /*Cómo Trabajamos*/
  .foto {
    grid-area: foto;
    margin-bottom: 72px;
    margin-top: 80px; }
  .container2 img {
    width: 420px; }
  .texto {
    margin-top: -290px;
    font-size: 19px; }
  .container2 ul {
    line-height: 18px;
    font-size: 14px; }
  .mas {
    margin-top: -154px;
    margin-bottom: -38px; }
  /*Servicios*/
  .nuestros {
    margin-top: 70px;
    margin-bottom: 34px; }
  .container5 img {
    margin-top: -25px; }
  .hold {
    margin-top: -4px; }
  .baño {
    font-size: 27px;
    padding: 8px;
    margin-left: 128px; }
  .uñas {
    font-size: 27px;
    padding: 8px;
    margin-left: 118px; }
  .orejas {
    font-size: 27px;
    padding: 8px;
    margin-left: 188px; }
  .corte {
    font-size: 27px;
    padding: 8px;
    margin-left: 140px; }
  .baño1 {
    width: 112px;
    margin-top: -519px;
    margin-left: 193px; }
  .uñas1 {
    width: 112px;
    margin-top: -378px;
    margin-left: -117px; }
  .orejas1 {
    width: 112px;
    margin-top: -237px;
    margin-left: -116px; }
  .corte1 {
    width: 112px;
    margin-top: -97px;
    margin-left: -116px; }
  .packs {
    margin-top: 60px;
    margin-bottom: 90px; }
  .card {
    margin-left: 0;
    margin-bottom: 15%;
    width: 21.3rem;
    padding: 6px; }
  .main .button a {
    bottom: 164px;
    right: 33px;
    font-size: large; }
  /*Precios*/
  .mainPrecios .adaptamos {
    text-align: center;
    font-size: 20px;
    margin-top: 30px; }
  .mainPrecios .card {
    margin-left: 0;
    margin-bottom: 20%;
    width: 24rem; }
  .mainPrecios .tarje {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
    margin-top: 40px; }
  .mainPrecios .gatosPrecio {
    margin-top: 0px; }
  /*Reserva*/
  .mainReserva .formu {
    font-size: 22px; }
  .mainReserva .animate__animated {
    margin-left: 182px;
    margin-right: 182px; } }

/* Media Query - Mobile first - Dispositivos Grandes */
@media (min-width: 1040px) {
  .main .nosotros {
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px; }
  .main .requerimientos {
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px; }
  .main .button a {
    bottom: 250px;
    font-size: xx-large; }
  .main h2 {
    margin-top: 120px; }
  .main h3 {
    margin-top: 120px; }
  .main2 .mas {
    margin-top: 100px;
    margin-bottom: 120px; }
  .domicilio {
    margin-top: 100px; }
  .container2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "foto texto";
    grid-auto-flow: row;
    margin-top: 100px; }
  .texto {
    font-size: 22px;
    margin-top: 10px;
    margin-right: 34px; }
  .container2 ul {
    line-height: 22px;
    font-size: 19px;
    margin-top: 17px;
    margin-bottom: 5px; }
  .container2 img {
    margin-left: 46px;
    width: 80%;
    margin-top: -55px; }
  .container3 {
    margin-bottom: 82px; }
  .nuestros {
    margin-top: 140px;
    margin-bottom: 50px; }
  .container5 {
    grid: none; }
  .container5 img {
    width: 60%;
    margin-left: 225px; }
  .hold {
    grid: none; }
  .baño {
    font-size: 30px;
    margin-top: -1659px;
    margin-left: -690px;
    color: darkgrey; }
  .uñas {
    font-size: 30px;
    color: darkgrey;
    margin-top: -805px;
    margin-right: 1000px; }
  .orejas {
    font-size: 30px;
    color: darkgrey;
    margin-top: -1658px;
    margin-right: -500px; }
  .corte {
    font-size: 30px;
    color: darkgrey;
    margin-top: -807px;
    margin-left: 580px; }
  .baño1 {
    width: 130px;
    margin-top: -1950px;
    margin-left: 290px; }
  .uñas1 {
    width: 140px;
    margin-top: -1100px;
    margin-left: -233px; }
  .orejas1 {
    width: 130px;
    margin-top: -1950px;
    margin-left: 625px; }
  .corte1 {
    width: 130px;
    margin-top: -1100px;
    margin-left: -180px; }
  .packs {
    margin-top: -230px;
    margin-bottom: 146px; }
  .tarje {
    display: flex;
    justify-content: space-around; }
  .card {
    width: 29rem; }
  h5 {
    font-size: 2.25rem; }
  p {
    font-size: 25px; }
  .mainPrecios .paquetes {
    margin: 286px; }
  .mainReserva .formu {
    font-size: 22px; }
  .mainReserva .animate__animated {
    margin-left: 500px;
    margin-right: 500px; }
  .mainReserva .regalo {
    font-size: 25px; }
  .mainReserva .vids {
    flex: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas: "vid1 vid2 vid3" "vid4 vid5 vid6";
    grid-gap: 10px; }
  .vid1 {
    grid-area: vid1; }
  .vid2 {
    grid-area: vid2; }
  .vid3 {
    grid-area: vid3; }
  .vid4 {
    grid-area: vid4; }
  .vid5 {
    grid-area: vid5; }
  .vid6 {
    grid-area: vid6; } }
