.text-center {
  .container {
    .mb-4 {
      .fb-ic {
        color: $turquesa;
      }

      .twit {
        width: 30px;
      }

      .face {
        width: 30px;
      }

      .insta {
        width: 30px;
      }
    }
  }
}
