.main {
  .servicios {
    color: $turquesaOscuro;
    font-size: 30px;
    font-weight: 750;
    background-color: $grisaceo;
    width: 415px;
    display: inline-flex;
    justify-content: center;
  }

  .comodidad {
    color: $blanco;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0.1em 0.1em 0.2em $sombra;
    text-decoration: none;
  }

  .corazon {
    color: $turquesaOscuro;
    font-size: 30px;
    font-weight: 750;
    background-color: $grisaceo;
    width: 415px;
    display: inline-flex;
    justify-content: center;
  }

  .nuestra {
    color: $blanco;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0.1em 0.1em 0.2em $sombra;
  }

  .respeto1 {
    color: $turquesaOscuro;
    font-size: 30px;
    font-weight: 750;
    background-color: $grisaceo;
    width: 379px;
    display: inline-flex;
    justify-content: center;
  }

  .valores1 {
    color: $blanco;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 0.1em 0.1em 0.2em $sombra;
  }

  .carousel-indicators [data-bs-target] {
    background-color: $turquesa;
  }

  .carousel-indicators {
    margin-left: 45%;
  }

  h1 {
    @extend %titulos;
  }

  .nosotros {
    grid-area: texto;
    text-align: justify;
    color: $gris;
    padding: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    margin-top: 28px;
  }

  h2 {
    @extend %titulos;
  }

  .valores {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    margin-top: 50px;

    .amor {
      width: 250px;
    }

    .paciencia {
      width: 250px;
    }

    .respeto {
      width: 250px;
    }

    .vip {
      width: 250px;
    }
  }

  h2 {
    @extend %titulos;
  }

  .container1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr;
    grid-template-areas:
      "foto1 foto2 foto3 foto5 foto5"
      "foto1 foto4 foto4 foto6 foto6";
    justify-items: center;
    align-items: center;
    padding: 20px;
    grid-gap: 10px;
    margin-top: 45px;
  }

  .container1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .foto1 {
    grid-area: foto1;
    width: 90px;
  }

  .foto2 {
    grid-area: foto2;
    width: 90px;
  }

  .foto3 {
    grid-area: foto3;
    width: 90px;
  }

  .foto4 {
    grid-area: foto4;
    width: 90px;
  }

  .foto5 {
    grid-area: foto5;
    width: 90px;
  }

  .foto6 {
    grid-area: foto6;
    width: 90px;
  }

  h3 {
    @extend %titulos;
    margin-bottom: -20px;
  }

  .requerimientos {
    grid-area: texto;
    text-align: justify;
    color: $gris;
    padding: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 50px;
  }

  .button {
    display: inline-block;
    position: relative;
  }

  .button a {
    position: absolute;
    bottom: 98px;
    right: 6px;
    background-color: $turquesa;
    border-radius: 1.5em;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    text-decoration: none;
  }

  .button a:hover {
    background: $gris;
  }

  .img-fluid {
    margin-top: 30px;
    margin-bottom: 70px;
  }
}

.strong {
  font-weight: 700;
}

.em {
  font-weight: 700;
  font-style: normal;
}
