.mainPrecios {
  .p {
    @extend %titulos;
  }

  .adaptamos {
    color: $gris;
    padding: 13px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 15px;
    font-weight: 500;
    margin-top: -4px;
  }

  .card {
    margin-left: 20%;
    margin-bottom: 20%;
    width: 14rem;
  }

  .card-body {
    text-align: center;
  }

  .pequeño {
    grid-area: pequeño;
    font-weight: 700;
  }

  .mediano {
    grid-area: mediano;
    font-weight: 700;
  }

  .grande {
    grid-area: grande;
    font-weight: 700;
  }

  .valorP {
    font-weight: 500;
    margin-top: -18px;
  }

  .valorM {
    font-weight: 500;
    margin-top: -18px;
  }

  .valorG {
    margin-bottom: -5px;
    grid-area: valorG;
    font-weight: 500;
    margin-top: -19px;
  }

  .valor {
    display: flex;
    flex-direction: column;
  }

  .gatosPrecio {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    color: $blanco;
    margin-top: 40px;
    margin-bottom: 59px;
    background-color: $turquesa;
    padding: 17px;
  }
}
