.nuestros {
   @extend %titulos;
}

.container5 img {
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.fotoPerro {
    grid-area: fotoPerro;
}

.hold {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "baño"
        "uñas"
        "orejas"
        "corte";
    grid-area: hold;
    justify-items: center;
    align-items: center;
    height: 280px;
    margin-top: 20px;
}

.baño {
    grid-area: baño;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.baño1 {
    width: 70px;
    margin-left: 40px;
    margin-top: -521px;
}

.uñas {
    grid-area: uñas;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600
}

.uñas1 {
    width: 70px;
    margin-top: -378px;
    margin-left: -74px;
}

.orejas {
    grid-area: orejas;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-left: 33px;
}

.orejas1 {
    width: 70px;
    margin-top: -238px;
    margin-left: -74px;
}

.corte {
    grid-area: corte;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600
}

.corte1 {
    width: 70px;
    margin-top: -99px;
    margin-left: -75px;
}

.packs {
    @extend %titulos;
    margin-bottom: 47px;
}

.card {
    margin-left: 25%;
    margin-bottom: 20%;
    width: 12rem;
}

.card-body {
    text-align: center;
}

.strong3 {
    font-weight: 500;
}

.em3 {
    font-style: normal;
}